@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0.2rem 0.6rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0.3rem 0.7rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0.2rem 0.6rem 0.5rem rgba(0, 0, 0, 0.5);
  }
}

@keyframes svgPulsate {
  0% {
    transform: scale(1);
    filter: drop-shadow(0.1rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5));
  }
  50% {
    transform: scale(1.05);
    filter: drop-shadow(0.2rem 0.4rem 0.3rem rgba(0, 0, 0, 0.3));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0.1rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5));
  }
}
