@import "variables.scss";
@import "./media";

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: $gradient;
  background-color: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

::selection {
  background-color: $color-primary;
  color: $color-grey-light-1;
}

.main {
  max-width: 80%;
  @include respond(tab-port) {
    max-width: 95%;
  }
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-2, 0.2);
  overflow: hidden;

  display: grid;
  grid-template-rows: min-content 130rem;
  grid-template-columns: [content-start] 3fr [content-end sidebar-start] 1fr [sidebar-end];

  @include respond(tab-land) {
    grid-template-columns: [content-start sidebar-start] 1fr [content-end sidebar-end];
  }
}
