@import "../variables";
@import "../animations";
.spinner {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    height: 6rem;
    width: 6rem;
    fill: $color-primary;
    animation: rotate 2s infinite linear;
  }
}
